
.verse{
  background-color: #DBFFD6;
}

img {
  width: 30px;
}

#table {
  font-size: 14px;
}

.reference{
  font-size: 12px;
}

.retry:hover{
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

@media screen
  and (max-width: 768px)
 {
#table {
  font-size: 12px;
}

.reference{
  font-size: 10px;
}
 }
