
.row-1 {
  height: 66.7px;
}

.row-2 {
  height: 533.6px;
}

.row-3 {
  height: 66.7px;
}

.covid-table {
  height: 173px;
}

.verse{
  height: 358px;
  background-color: #DBFFD6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

img {
  width: 30px;
}
